<div class="row">
  <div class="column">
    </br>
    <div id="bar">

      <h1>Admins</h1>

      <% @admins.each do |admin| %>
        <%= admin.email %><%= button_to "Delete", admin, method: :delete %>
      <% end %>
    <br>
      <%= button_to "Edit Users", users_path, method: :get %>
      <h1>Bars</h1>
        <% @bars.each do |bar| %>
          <%= bar.name%>
          <%= button_to "Delete #{bar.name}", bar, method: :delete %>
      <% end %>

      <h1>Reviews</h1>
      <% @reviews.each do |review| %>
        <% unless review.bar.nil? %>
          <%= review.title %>
          <%= button_to "Delete #{review.title}", bar_review_path(review.bar, review), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
