<div class="container">
  <div class="column">
    <h1>Add Bar</h1>
    <%= form_for @bar do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      </br>
      <%= f.label :description %>
      <%= f.text_area :description %>
      </br>
      </br>
      <%= f.submit "Add Bar" %>
    <% end %>
    <%= button_to "View all bars", bars_path, method: :get %>
  </div>
</div>
