<div class="container">
  <div class="column">
    <h1>Add Bar</h1>
      <%= form_for @bar do |f| %>
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>
      <div class="actions">
        <%= f.submit "Add Bar" %>
        <% end %>
        <%= button_to "View all bars", bars_path, method: :get %>
      </div>
  </div>
</div>
