<div class="row">
  <div class="column">
    </br>
    <div id="bar">
      <h1>Add Bar</h1>
        <%= form_for @bar do |f| %>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>

        <%= f.label :description, "Description:" %>
        <%= f.text_area :description %>

        <%= f.label :street, "Street:" %>
        <%= f.text_field :street %>

        <%= f.label :city, "City:" %>
        <%= f.text_field :city, value: "Boston" %>

        <%= f.label :state, "State:" %>
        <%= f.text_field :state, value: "MA" %>

        <%= f.label :zip, "Zip:" %>
        <%= f.text_field :zip %>

        <%= f.label :phone, "Phone:" %>
        <%= f.text_field :phone %>

        <%= f.label :website, "Website (Optional):" %>
        <%= f.text_field :website %>
        <div id="review">
          <div class="actions">
            <%= f.submit "Add Bar" %>
            <% end %>
            <%= button_to "View all bars", bars_path, method: :get %>
          </div>
        </div>
      </div>
  </div>
</div>
