  <div class="container">
    <div class="column">
<h1><%= @bar.name %></h1>
<%= @bar.description %></br>

<% if @reviews.any? %>
 <h4><%= @bar.name %>'s Reviews</h4>
<% end %>

<% @reviews.each do |review| %>
  <ul>
    Title: <%= review.title %>
    <li>Review: <%= review.body %></li>
    <li>Rating: <%= review.rating %></li>
    <% if review.user == current_user %>
      <li><%= button_to "Edit", edit_bar_review_path(@bar, review), method: :get %></li>
      <li><%= button_to "Delete", bar_review_path(@bar, review), method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
    <li><%= button_to "Upvote", upvote_review_votes_path(review), method: :post %></li>
    <li><%= @vote_total[review.id] %></li>
    <li><%= button_to "Downvote", downvote_review_votes_path(review), method: :post %></li>
  </ul>
<% end %>

<h1>Add Review</h1>
<%= form_for [@bar, @review] do |f| %>
  <div class="field">
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %></br>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :rating %></br>
    <%= f.text_field :rating %>
  </div>

  <div class="actions">
    <%= f.submit %></br>
  </div>
<% end %>

  <%= button_to "Edit Bar", edit_bar_path(@bar), method: :get %>
  <%= button_to "View All Bars", bars_path, method: :get %>
</div>
</div>
