<div class="row">
  <div class="column">
  </br>
    <div id="bar">
        <h1><%= @bar.name %></h1>
        <li>
        <p1>Average Rating:</p1>
        <% rating_total = 0 %>
        <% @reviews.each do |review| %>
        <% rating_total += review.rating %>
        <% end %>
        <% average_rating = rating_total.to_f / @reviews.length %>
        <%= average_rating.round(1) %>
        </li>
        <h2><%= @bar.description %></h2>
    </div>

      <% if @bar.user == current_user %>
      <div id="buttons-bar">
        <%= button_to "Edit Bar", edit_bar_path(@bar), method: :get %>
      </div>
      <% end %>

        <% if @reviews.any? %>
      </br>
         <h4>Reviews of <%= @bar.name %></h4>
        <% end %>

      <% @reviews.each do |review| %>
      <div id="review">


        <div id="vote-<%= review.id %>" class="vote">
          <li href ="<%=upvote_review_votes_path(review)%>" class="upvote" id="<%= review.id %>"><%= button_to "Upvote", upvote_review_votes_path(review), method: :post %></li>
            <li class="vote-total" id="<%= review.id %>"><%= @vote_total[review.id] %></li>
          <li href ="<%=downvote_review_votes_path(review)%>"class="downvote" id="<%= review.id %>"><%= button_to "Downvote", downvote_review_votes_path(review), method: :post %></li>
        </div>

        <ul>
          <p1>Title:</p1> <%= review.title %>
          <li><p1>Review:</p1> <%= review.body %></li>
          <li id="rating-<%= review.id %>"><p1>Rating:</p1> <%= review.rating %></li>
          <li><p1>Created by:</p1> <%= @bar.user.email %></li>

          <% if review.user == current_user %>
          <div id="buttons-review">
            <li><%= button_to "Edit", edit_bar_review_path(@bar, review), method: :get %></li>
            <li><%= button_to "Delete", bar_review_path(@bar, review), method: :delete, data: { confirm: "Are you sure?" } %></li>
          </div>
          <% end %>
        </ul>
      </div>
    </br>
      <% end %>

      <h4>Add Review for <%= @bar.name %></h4>
        <%= form_for [@bar, @review] do |f| %>
        <div class="field">
          <%= f.label :title, "Title:" %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :body, "Review:" %>
          <%= f.text_area :body %>
        </div>

        <div class="field">
          <%= f.label :rating, "Rating:" %>
          <%= f.select :rating, options_for_select(1..5) %>
        </div>

        <div class="actions">
          <%= f.submit %>
          <% end %>
          <%= button_to "View All Bars", bars_path, method: :get %>
        </div>

  </div>
</div>
<%= javascript_include_tag "application" %>
